<% pick = local_assigns.fetch(:pick, @pick) %>

<%= form_with(model: [@season, @episode, pick], class: "row g-3", local: true) do |form| %>
  <% if pick&.errors&.any? %>
    <div class="alert alert-danger">
      <h2 class="h5"><%= pluralize(pick.errors.count, "error") %> prevented this pick from being saved:</h2>
      <ul class="mb-0">
        <% pick.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <%= form.label :star_baker_id, "Star Baker", class: "form-label" %>
    <%= form.collection_select :star_baker_id, @contestants, :id, :name,
      { include_blank: "Choose contestant" }, { class: "form-select" } %>
  </div>

  <div class="col-md-6">
    <%= form.label :technical_winner_id, "Technical Winner", class: "form-label" %>
    <%= form.collection_select :technical_winner_id, @contestants, :id, :name,
      { include_blank: "Choose contestant" }, { class: "form-select" } %>
  </div>

  <div class="col-md-6">
    <%= form.label :handshake_id, "Handshake", class: "form-label" %>
    <%= form.collection_select :handshake_id, @contestants, :id, :name,
      { include_blank: "Choose contestant" }, { class: "form-select" } %>
  </div>

  <div class="col-12">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", season_episode_path(@season, @episode), class: "btn btn-link" %>
  </div>
<% end %>
